Flask==0.11.1
Flask-Cors==3.0.0
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.3.1
Werkzeug==0.11.10
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
click==6.6
decorator==4.0.10
hashids==1.1.0
imageio==1.5
itsdangerous==0.24
kombu==3.0.35
moviepy==0.2.2.11
numpy==1.11.1
pytz==2016.6.1
requests==2.11.1
six==1.10.0
tqdm==4.8.4
uWSGI==2.0.13.1
wsgiref==0.1.2
youtube-dl==2016.8.22
